<!--<p id="notice"><%#= notice %></p>-->
<h1>つーながる</h1>
<meta charset="utf-8">
<%= link_to '新規投稿', new_article_path %>
<table>
<!--  <thead>-->
<!--  <tr>-->
<!--    <th>タイトル</th>-->
<!--    <th>ビデオ</th>-->
<!--       <th colspan="3"></th>-->
<!--  </tr>-->
<!--  </thead>-->

  <tbody>
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
<!--      <td><%#= article.comment %></td>-->
      <!--        <td><%#= article.video %></td>-->
      <td><%= image_tag(article.video_url(:screenshot).to_s, id: "video", :alt => "screenshot") %></td>
      <td><%= link_to 'みる', article %></td>
      <td><%= link_to '編集', edit_article_path(article) %></td>
      <td><%= link_to '削除', article, method: :delete, data: { confirm: '本当に消しますか?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>


