<p id="notice"><%= notice %></p>

<p>
  <strong>タイトル:</strong>
  <%= @article.title %>
</p>
<p>
  <%= @article.comment %>
</p>
<p>
  <strong>ビデオ:</strong>
  <%#= @article.video %>
</p>
<p>
  <%= link_to @article.video_url.to_s do %>
    <%= image_tag(@article.video_url(:screenshot).to_s, id: "video", :alt => "screenshot") %>
  <% end %>
</p>

<%= link_to '編集', edit_article_path(@article) %> |
<%= link_to '戻る', articles_path %>
